# Database Config
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=app_database

# Crawling Config
CRAWL_CATEGORIES=books, papers, news #can change to any categories you want to crawl
SYSTEM_TIMEOUT=60   