# Database Config
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=app_database

# Crawling Config
CRAWL_CATEGORIES=books, papers, news #can change to any categories you want to crawl
SYSTEM_TIMEOUT=60

# Extract Module Config
GEMINI_API_KEY=
QWEN_API_KEY=
USE_OCR=false
PADDLE_MODEL_SIZE=tiny   